* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}

h1 {
  margin-top: 1rem;
  font-size: 3rem;
}

#books-grid {
  width: 90%;
  margin: 0 auto;
  border: 1px solid black;
}

.book-item {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: gray;
}

.book-item:nth-child(2n) {
  background-color: white;
}

.item-meta {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.item-meta h2,
.item-meta span,
.item-meta p {
  font-size: 1rem;
}

.btn {
  font-size: 1.25rem;
  padding: 0.5rem 1rem;
  box-shadow: 3px 3px 2px 0 rgb(0, 0, 0);
}

.btn:hover {
  cursor: pointer;
}

#divider {
  width: 15%;
  border-top: 3px solid black;
  border-radius: 50%;
}

/* Form */
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 50%;
}

.form-group {
  width: 100%;
}

input {
  font-size: 16px;
  padding: 8px;
  width: 100%;
}

form > button {
  align-self: flex-end;
}
